
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Body Data-->
<div class="row">
    <div class="col-12 pt-1 pb-4"><h4>Dashboard</h4>
       @*  <p class="text-gray">Welcome @ViewBag.UserName</p> *@
        </div>
</div>